<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ url_for('static', filename='site-icon.png') }}" type="image/png">
    <title>Financial Weights n(x)</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

 
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/index.css') }}"
    />
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='styles/ticker.css') }}"
  />
  </head>
  <body>
    <div id="ticker-tape" class="ticker-tape">
      <div id="ticker-content" class="ticker-content"></div>
  </div>
    <div class="container">
      <h1>Stock Financial Information</h1>
      <form id="stockForm">
        <label for="tickerSymbol">Enter Stock Ticker Symbol:</label>
        <input type="text" id="tickerSymbol" placeholder="Enter stock ticker" 
        autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" required>
        <button type="submit">Get Information</button>
      </form>
    
      <div id="financialInfo" style="display: none;">
        <h2><span id="companyName"></span></h2>
        <p>Stock Price: <span id="stockPrice"></span></p>
        <p>P/E Ratio: <span id="peRatio"></span></p>
        <h3>Stock Price Movement</h3>
        <div class="time-range-buttons">
          <button data-range="day">Day</button>
          <button data-range="month">Month</button>
          <button data-range="year">Year</button>
          <button data-range="ytd">YTD</button>
      </div>
        <div class="chart-container">
          <canvas id="priceChart"></canvas>
        </div>
        <h3>Quarterly Financial Data</h3>
        <div class="chart-container">
          <canvas id="financialChart"></canvas>
        </div>
        <h3>Margin Analysis</h3>
        <div class="chart-container">
          <canvas id="marginChart"></canvas>
        </div>
        <h3>Balance Sheet Data</h3>
        <div class="chart-container">
          <canvas id="balanceSheetChart"></canvas>
        </div>
      </div>
    </div>
    </div>
   
  </body>

  <script src="{{ url_for('static', filename='components/tickerFunctions.js') }}"></script> 
  <script src="{{ url_for('static', filename='components/chartFunctions.js') }}"></script>
  <script src="{{ url_for('static', filename='index.js') }}"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</html>
